#wenyan {
    line-height: 1.75;
    font-size: 16px;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6,
#wenyan p {
    margin: 1em 0;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 12px;
    position: relative;
}
#wenyan h1:before,
#wenyan h2:before,
#wenyan h3:before,
#wenyan h4:before,
#wenyan h5:before,
#wenyan h6:before {
    content: "";
    display: inline-block;
    vertical-align: 1px;
    width: 10px;
    height: 26px;
    margin-right: 6px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDEwIDI2IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNOS41IDYuNTY2NTlMNC40OTk5NCAxOS40MzI2TDAgMTkuNDMyNkw1LjAwMDA2IDYuNTY2NTlMOS41IDYuNTY2NTlaIiBmaWxsPSIjRkY0MDNBIi8+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 8px;
}
#wenyan ul,
#wenyan ol {
    padding-left: 1.2em;
}
#wenyan li {
    margin-left: 1.2em;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    border-spacing: 0;
    font-size: 1em;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td,
#wenyan table th {
    height: 40px;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    min-width: 88px;
    border: 1px solid #d8d8d8;
    vertical-align: top;
}
#wenyan blockquote {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 16px;
    position: relative;
    color: #999;
    text-align: justify;
}
#wenyan blockquote:before {
    content: " ";
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background: #f2f2f2;
}
#wenyan p code {
    color: #1e6bb8;
}
/* 代码块 */
#wenyan pre {
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    font-size: 12px;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
}
#wenyan hr {
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    border: none;
    margin: 20px 0;
}
/* 链接 */
#wenyan a {
    word-wrap: break-word;
    color: #0069c2;
}
/* 脚注 */
#wenyan #footnotes ul {
    font-size: 0.9em;
    margin: 0;
    padding-left: 1.2em;
}
#wenyan #footnotes li {
    margin: 0 0 0 1.2em;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan .footnote {
    color: #0069c2;
}
